In [6]:
L1=['krishan',105,2.5,'india']
L2=[1,2,3,4,5]
L3=[True,2,False]
a=list((6,7))
print("List L1",L1)
print(type(a))
print(type(L3))

List L1 ['krishan', 105, 2.5, 'india']
<class 'list'>
<class 'list'>

In [7]:
L1[0]

'krishan'

In [8]:
L3[3]

IndexError: list index out of range

In [9]:
L3[2]

False

In [10]:
List=[1,2,2,5,7.4,1-2j,'raj']

In [11]:
List[4]=10.2
List

[1, 2, 2, 5, 10.2, (1-2j), 'raj']

In [12]:
List.reverse()
List

['raj', (1-2j), 10.2, 5, 2, 2, 1]

In [37]:
Natural_nuberms=[1,2,3,4,5,6,7,8,9,10]
Natural_nuberms

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
Natural_nuberms[7]

8

In [39]:
Natural_nuberms[8],Natural_nuberms[9]=Natural_nuberms[9],Natural_nuberms[8]
Natural_nuberms

[1, 2, 3, 4, 5, 6, 7, 8, 10, 9]

In [40]:
Natural_nuberms.reverse()
Natural_nuberms

[9, 10, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
Natural_nuberms.append(11)
Natural_nuberms

[9, 10, 8, 7, 6, 5, 4, 3, 2, 1, 11]

In [42]:
Natural_nuberms.sort()

In [43]:
Natural_nuberms

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [44]:
fruits=['banana', 'cheery', 'apple']
fruits

['banana', 'cheery', 'apple']

In [47]:
fruits[0]

'banana'

In [48]:
print(fruits[0])

banana

In [49]:
print('apple' in fruits) ##in is opertater

True

In [50]:
for items in fruits:  ##for is operater
    print(items)

banana
cheery
apple

In [51]:
len(fruits)

3

In [52]:
ups=[9, 8.9, 65, 4, 7.3]

In [53]:
len(ups)

5

In [54]:
max(ups)

65

In [55]:
min(ups)

4

In [56]:
ups.clear()

In [57]:
ups

[]

In [58]:
list_1=[1,5,3,7,8]
list_2=[4,6,6,65,3,9]

In [59]:
list_3=list_1+list_2
list_3

[1, 5, 3, 7, 8, 4, 6, 6, 65, 3, 9]

In [60]:
upen=[4,4.5,3,9.2,6.7,2]

In [61]:
len(upen)

6

In [62]:
max(upen)

9.2

In [63]:
min(upen)

2

In [64]:
upen.append(8)
upen

[4, 4.5, 3, 9.2, 6.7, 2, 8]

In [70]:
upen.copy()
upen

[4, 4.5, 3, 9.2, 6.7, 2, 8]

In [74]:
upen.index(2)

5

In [75]:
upen.insert(2,0)

In [76]:
upen

[4, 4.5, 0, 3, 9.2, 6.7, 2, 8]

In [77]:
upen.remove(6.7)
upen

[4, 4.5, 0, 3, 9.2, 2, 8]

In [78]:
upen.reverse()
upen

[8, 2, 9.2, 3, 0, 4.5, 4]

In [79]:
upen.sort()

In [80]:
upen

[0, 2, 3, 4, 4.5, 8, 9.2]

In [81]:
upen.clear()
upen

[]

TUPLE

In [85]:
sample_tuple=(1, 3, 7.8, 1+2j, 'ram')

In [86]:
type(sample_tuple)

tuple

In [87]:
sample_tuple

(1, 3, 7.8, (1+2j), 'ram')

In [90]:
sample_tuple[4]

'ram'

In [91]:
print(sample_tuple[4]) ## retrive using index

ram

In [92]:
sample_tuple.reverse() ##cannot change the data once decleard

AttributeError: 'tuple' object has no attribute 'reverse'

In [93]:
sample_tuple[2]=10 ##not mutable
sample_tuple

TypeError: 'tuple' object does not support item assignment

In [94]:
sample_tuple.sort() ##not sort

AttributeError: 'tuple' object has no attribute 'sort'

In [97]:
sorted(sample_tuple)

TypeError: '<' not supported between instances of 'complex' and 'float'

In [99]:
tuple_sample=(1, 2.5, 6, 9.2, 7, 55)
tuple_sample

(1, 2.5, 6, 9.2, 7, 55)

In [100]:
sorted(tuple_sample)

[1, 2.5, 6, 7, 9.2, 55]

In [101]:
sorted(tuple_sample, reverse=True)

[55, 9.2, 7, 6, 2.5, 1]

In [102]:
n=4
rep_tuple=tuple_sample*4 ##repeat a element
rep_tuple

(1,
 2.5,
 6,
 9.2,
 7,
 55,
 1,
 2.5,
 6,
 9.2,
 7,
 55,
 1,
 2.5,
 6,
 9.2,
 7,
 55,
 1,
 2.5,
 6,
 9.2,
 7,
 55)

In [108]:
tuple_1=(1,5.7,3)
tuple_2=(4,5,9.8)
tuple_3=tuple_1+tuple_2
tuple_3

(1, 5.7, 3, 4, 5, 9.8)

In [109]:
print(3 in tuple_3) ##check a paticular element

True

In [112]:
for items in tuple_3:
    print(items)

1
5.7
3
4
5
9.8

In [114]:
shub=(1, 5.8, 3.9, 6.9, 7, 9, 4)
shub

(1, 5.8, 3.9, 6.9, 7, 9, 4)

In [115]:
len(shub)

7

In [116]:
max(shub)

9

In [117]:
min(shub)

1

In [118]:
shub.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [119]:
shub.copy()
shub

AttributeError: 'tuple' object has no attribute 'copy'

In [120]:
shub.index(9)

5

In [121]:
shub.insert(4, 9.5)

AttributeError: 'tuple' object has no attribute 'insert'

In [122]:
shub.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [123]:
shub.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [124]:
shub.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [126]:
shub.clear()
shub

AttributeError: 'tuple' object has no attribute 'clear'

In [127]:
s=list(shub)
s

[1, 5.8, 3.9, 6.9, 7, 9, 4]

In [128]:
s.append(11)
s

[1, 5.8, 3.9, 6.9, 7, 9, 4, 11]

SET

In [129]:
sample_set={1,1,3,4.8,3.9, 11,132,11,67} ## NNO DUPLICATES ARE ALLOWED
sample_set

{1, 3, 3.9, 4.8, 11, 67, 132}

In [130]:
type(sample_set)

set

In [131]:
sample_set.append(16)

AttributeError: 'set' object has no attribute 'append'

In [132]:
sample_set.add(16)

In [133]:
sample_set

{1, 3, 3.9, 4.8, 11, 16, 67, 132}

In [134]:
sample_set.remove(11)
sample_set

{1, 3, 3.9, 4.8, 16, 67, 132}

In [135]:
sample_set[0] ##using index not retrive a data

TypeError: 'set' object is not subscriptable

In [136]:
month={'jan', 'feb', 'mar', 'apr', 'may', 'jun'}
print(month)

{'apr', 'may', 'mar', 'feb', 'jun', 'jan'}

In [137]:
print(type(month))

<class 'set'>

In [140]:
print("looping through a set elements...")

looping through a set elements...

In [141]:
 for i in month:
        print(i)

apr
may
mar
feb
jun
jan

In [142]:
sin={1, 3, 66, 8.9 , 4, 7, 9}
sin

{1, 3, 4, 7, 8.9, 9, 66}

In [143]:
len(sin)

7

In [144]:
max(sin)

66

In [145]:
min(sin)

1

In [146]:
sin.add(14)

In [147]:
sin

{1, 3, 4, 7, 8.9, 9, 14, 66}

In [148]:
sin.copy()

{1, 3, 4, 7, 8.9, 9, 14, 66}

In [149]:
sin.index(4)

AttributeError: 'set' object has no attribute 'index'

In [150]:
sin.insert(5, 90)

AttributeError: 'set' object has no attribute 'insert'

In [151]:
sin.remove(8.9)

In [152]:
sin

{1, 3, 4, 7, 9, 14, 66}

In [153]:
sin.reverse()
sin

AttributeError: 'set' object has no attribute 'reverse'

In [154]:
sin.sort()

AttributeError: 'set' object has no attribute 'sort'

In [155]:
sin.clear()
sin

set()

In [157]:
set_1={1,5.9,90}
set_2={4,7,8.6}
set_3=set_1+set_2
set_3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [158]:
set_3='set_1'and'set_2'

In [159]:
set_3

'set_2'